* {
margin:0;
padding:0;
box-sizing:border-box;
}

.background {
width:100vw;
height:100vh;
background-image:url(images/background.png);
background-position:center;
background-size:cover;
padding:0 8%;
}

body {
font-family:"Roboto", sans-serif;
color:#6c1a76;
}

h2 {
font-size:5rem;
font-weight:bold;
padding:3rem;
}

.main-page {
min-height:100vh;
display:flex;
align-items:center;
flex-direction:column;
justify-content:center;
}

.countdown {
display:flex;
justify-content:space-around;
text-align:center;
}

.day, .hour, .minute, .second {
font-size:3rem;
}

.logo {
width:200px;
height:200px;
}

.email {
margin:auto;
position:absolute;
}